<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999858323739-h0cubpqu0edj7qgjv5rp136n9jfrura9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999858323739-h0cubpqu0edj7qgjv5rp136n9jfrura9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbfJARSO61NqnsAU0wXbNlRYIolkVdKRU</string>
	<key>GCM_SENDER_ID</key>
	<string>999858323739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.msit.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9ab41</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9ab41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999858323739:ios:7cd5b2cf509dd72237d3be</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9ab41.firebaseio.com</string>
</dict>
</plist>